<a name="form"></a>
<div class="evform">
<form action="index.php?form=<{$form.formid}>" name="order" method="post">
<input type="hidden" name="op" value="store"/>
<input type="hidden" name="uid" value="<{$user.uid}>"/>
<p clss="heading"><{$heading}></p>
<table class="outer" align="center" cellspacing="1" border="0">
<tr><th colspan="2"><{$form.title}></th></tr>
<{foreach from=$form.items item=item}>
<{if $item.label}><tr class="<{cycle values="even, odd"}>"><td class="head"><{$item.label}></td><td><{$item.input}></td></tr><{/if}>
<{/foreach}>
</table>
<p style="text-align: center;"><input type="submit" value="<{$smarty.const._MD_SUBMIT_SEND}>"/> &nbsp; <input type="submit" name="edit" value="<{$smarty.const._MD_SUBMIT_EDIT}>"/></p>
</form>
</div>
